<div class="sidebar-follow-me">
  <a href="https://twitter.com/loiane" class="twitter-follow-button" data-show-count="true"></a>
  <!--script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script -->
</div>
<div class="sidebar-follow-me">
  <div class="g-ytsubscribe" data-channel="loianeg" data-layout="default" data-count="default"></div>
  <!--script async src="https://apis.google.com/js/platform.js"></script -->
</div>
