<script>
  {% include assets/main.min.js %}
</script>
<script async src="/assets/js/lazyload.min.js?{{site.time | date: '%s%N'}}"></script>
<script>
(function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
(A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-63994931-1', 'loiane.com');
ga('send', 'pageview');
</script>
