<script async src="/assets/scripts/main.min.js?{{site.time | date: '%s%N'}}"></script>
<script>
(function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
(A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-63994931-1', 'loiane.com');
ga('send', 'pageview');
</script>
<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script async src="https://apis.google.com/js/platform.js"></script>
<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-597a235ae1b10e2a"></script>
