<div class="post-card">
  <a href="{{ post.url | prepend: site.baseurl }}" class="post-card__content" title="Read {{ post.title }}">
    {% if post.image %}
    <img src="{{site.baseurl}}{{post.image}}" alt="{{post.title}}"
      class="post-card-img" scale="0">
    {% endif %}
    <div class="post-header-detail">
      <div class="post-header-category">
          <img src="{{ site.baseurl }}/assets/images/tags/{% if post.tag %}{{ post.tag }}{% else %}tag{% endif %}.svg" alt="">
      </div>
      {{ post.date | date_to_string }}
    </div>
    <h4 class="post-card-title">
      {{ post.title }}
    </h4>
    {% if post.image %}{% else %}
    <p class="post-card-desc">
      {{ post.content | markdownify | strip_html | truncatewords: 15 }}
    </p>
    {% endif %}
  </a>
</div>
