<div class="post-card">
  <a href="{{ post.url | prepend: site.baseurl }}" class="post-card__content" title="Read {{ post.title }}">
    {% if post.image %}
    <img src="{{site.baseurl}}{{post.image}}" alt="{{post.title}}"
      class="post-card-img" scale="0">
    {% endif %}

    <h4 class="post-card-title">
      {{ post.title }}
    </h4>

    {% if post.image %}
    <p class="post-card-desc-empty"></p>
    {% else %}
    <p class="post-card-desc">
      {{ post.content | markdownify | strip_html | truncatewords: 15 }}!
    </p>
    {% endif %}

    <div class="post-card-cat">
      <div class="post-card-cat-detail">
          <img src="{{ site.baseurl }}/assets/images/tags/{% if post.category %}{{ post.category }}{% else %}tag{% endif %}.svg" width="25" height="25" alt="{{post.title}}">
      </div>
      <span>{{ post.date | date_to_string }}</span>
    </div>
  </a>
</div>
