<div class="sidebar">
  <div class="sidebar-sticky">
    <div class="sidebar-img">
      <img src="{{ site.baseurl }}/assets/images/loiane.jpg" alt="Loiane Groner">
      <p>{{ site.title }}</p>
    </div>
    {% include social-networks.html %}
    <div class="add-space"></div>
    <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/">
          Blog
        </a>
        <a class="sidebar-nav-item" href="/about">
          About
        </a>
        <a class="sidebar-nav-item" href="/speaking">
          Speaking (Palestras)
        </a>
        <a class="sidebar-nav-item" href="https://www.packtpub.com/books/info/authors/loiane-groner" target="_blank" rel="noopener">
          My Books
        </a>
        <a class="sidebar-nav-item" href="https://loiane.training" target="_blank" rel="noopener">
          Courses (Pt-br)
        </a>
        <a class="sidebar-nav-item" href="/archive">
          Archive (All Posts)
        </a>
    </nav>

    {% include follow-me.html %}

  </div>
</div>
