<div class="follow-me">
  <a href="//twitter.com/loiane" target="_blank" rel="noopener" aria-label="Loiane Groner on Twitter">
    <i class="mdi mdi-twitter mdi-24px social_network"></i>
  </a>
  <a href="//github.com/loiane" target="_blank" rel="noopener" aria-label="Loiane Groner on GitHub">
    <i class="mdi mdi-github-circle mdi-24px social_network"></i>
  </a>
  <a href="//youtube.com/loianegroner" target="_blank" rel="noopener" aria-label="Loiane Groner on YouTube">
    <i class="mdi mdi-youtube-play mdi-24px social_network"></i>
  </a>
  <a href="//facebook.com/loianegroner" target="_blank" rel="noopener" aria-label="Loiane Groner on Facebook">
    <i class="mdi mdi-facebook-box mdi-24px social_network"></i>
  </a>
  <a href="//www.linkedin.com/in/loiane" target="_blank" rel="noopener" aria-label="Loiane Groner on Linkedin">
    <i class="mdi mdi-linkedin-box mdi-24px social_network"></i>
  </a>
</div>
