<div class="top-bar">
<div class="top-bar-container">
  <div class="top-bar-card">
    <a href="/category/angular" {% if page.url == '/category/angular' %}class="active"{% endif %}>
      <div class="top-bar-card-detail">
        <img src="{{ site.baseurl }}/assets/images/tags/angular.svg" width="25" height="25" alt="Angular Blog Posts">
      </div>
      <span>Angular</span>
    </a>
  </div>
  <div class="top-bar-card">
    <a href="/category/extjs" {% if page.url == '/category/extjs' %}class="active"{% endif %}>
      <div class="top-bar-card-detail">
        <img src="{{ site.baseurl }}/assets/images/tags/sencha.svg" width="25" height="25" alt="Sencha Ext JS Blog Posts">
      </div>
      <span>Ext JS</span>
    </a>
  </div>
  <div class="top-bar-card">
    <a href="/category/spring" {% if page.url == '/category/spring' %}class="active"{% endif %}>
      <div class="top-bar-card-detail">
        <img src="{{ site.baseurl }}/assets/images/tags/spring.svg" width="25" height="25" alt="Spring Blog Posts">
      </div>
      <span>Spring</span>
    </a>
  </div>
  <div class="top-bar-card">
      <a href="/category/java" {% if page.url == '/category/java' %}class="active"{% endif %}>
        <div class="top-bar-card-detail">
          <img src="{{ site.baseurl }}/assets/images/tags/java.svg" width="25" height="25" alt="Java Blog Posts">
        </div>
        <span>Java</span>
      </a>
    </div>
  <div class="top-bar-card">
    <a href="/category/pt-br" {% if page.url == '/category/pt-br' %}class="active"{% endif %}>
      <div class="top-bar-card-detail">
        <img src="{{ site.baseurl }}/assets/images/tags/pt-br.svg" width="25" height="25" alt="Posts em Português">
      </div>
      <span>Português (Pt-br)</span>
    </a>
  </div>
</div>
</div>
