/*
 * HEADER
 */

$syntax-hue:          220;
$syntax-saturation:   13%;
$syntax-brightness:   18%;
$syntax-bg:     hsl($syntax-hue, $syntax-saturation, $syntax-brightness);

.banner {
  background: $syntax-bg;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 250px;
  right: 0;
  padding: 15px 15px 0 0;
  height: 70px;
  @media screen and (max-width: 850px) {
    position: static;
    padding: 20px;
    height: auto;
  }
}
.header {
  padding: 30px 0;
  color: #fff;
  background: $syntax-bg;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  @media screen and (max-width: 850px) {
    position: static;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  p {
    a {
      text-decoration: none;
      color: #fff;
      border-bottom: 1px dotted #fff;
    }
  }
  &__img {
    margin: 20px 0 0;
    height: 50px;
    position: relative;
    padding: 0 0 0 80px;
    @media screen and (max-width: 850px) {
      margin: 20px 0;
    }
    p {
      margin: 0;
      font-family: 'tt-medium';
    }
    span {
      font-size: 13px;
    }
    img {
      position: absolute;
      top: 0;
      left: 20px;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
  &__twitter {
    margin: 45px 0;
    height: 30px;
    text-align: center;
    overflow: hidden;
    @media screen and (max-width: 850px) {
      display: none;
    }
  }
  &__links {
    position: absolute;
    bottom: 40px;
    left: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 850px) {
      display: none;
    }
    a {
      margin: 0 10px 0 0;
      width: 18px;
      display: inline-block;
    }
    span {
      display: block;
      margin: 5px 0 0;
      font-size: 13px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &__disclaimer {
    position: absolute;
    bottom: 9px;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    font-size: 10px;
    @media screen and (max-width: 850px) {
      display: none;
    }
    a {
      color: #FFFFFF;
    }
  }
}

.blog_link {
  color: hsl(286, 60%, 67%);
  margin: 0 10px 0 0;
}

.about_link {
  color: hsl(207, 82%, 66%);
  margin: 0 10px 0 0;
}

.talks_link {
  color: hsl( 29, 54%, 61%);
  margin: 0 10px 0 0;
}

.books_link {
  color: hsl( 95, 38%, 62%);;
  margin: 0 10px 0 0;
}

.courses_link {
  color: hsl(355, 65%, 65%);
  margin: 0 10px 0 0;
}

.social_network {
  color: #FFFFFF;
  margin: 0 10px 0 0;
}

.copy-span {
  margin: 0 10px 0 0;
  padding-bottom: 7px;
}

.nav-span {
  position: absolute;
  top: 12px;
}
