<div class="categories">
  <!-- p>Categories:</p -->
  <div class="categories__container">
    <a href="/categories/angular" {% if page.url == '/categories/angular' %}class="active"{% endif %}>
      <img src="/images/tags/angular.svg" alt="All Angular (v2+) articles">
      Angular
    </a>
    <a href="/categories/pt-br" {% if page.url == '/categories/pt-br' %}class="active"{% endif %}>
      <img src="/images/tags/pt-br.svg" alt="All articles written in Portuguese">
      pt-br
    </a>
  </div>
</div>
