---
layout: default
---

{% include components/categories.html %}

<article class="post single">
  <section class="post__content">
    <div class="post__detail">
    <header class="post__header">
      <h1 class="alpha post__title" itemprop="name headline">
        {{ page.title }}
        <div class="post-card__container">
          <div class="post-card__meta">
            <div class="post-card__tag">
              <img src="{{ site.baseurl }}/images/tags/{% if page.tag %}{{ page.tag }}{% else %}tag{% endif %}.svg" alt="">
            </div>
            {{ page.date | date: "%-d %b, %Y" }}
          </div>
          <div class="post-card__meta">
            <div class="post-card__tag">
              <img src="{{ site.baseurl }}/images/tags/time.svg" alt="">
            </div>
            {% assign words = content | strip_html | number_of_words %}
            {% if words < 360 %}
              1 min read
            {% else %}
              {{ words | divided_by:200 }} mins read
            {% endif %}
          </div>
          <div class="post-card__meta">
            <div class="post-card__tag">
              <img src="{{ site.baseurl }}/images/icons/github-dark.svg" alt="">
            </div>
            {% if page.path %}
            <a class="post-card-edit" href="//github.com/loiane/loiane.github.io/blob/master/{{ page.path }}" target="_blank">
              Edit post
            </a>
            {% endif %}
          </div>
          <!--<div class="post-card__meta">
            <div class="post-card__tag">
              <img src="{{ site.baseurl }}/images/icons/comments.svg" alt="">
            </div>
            <span class="disqus-comment-count" data-disqus-url="https://loiane.com{{ page.url }}"></span>
          </div>-->
        </div>
      </h1>
      <div class="post__meta__divider"></div>
    </header>
      {{ content }}
    </div>


  </section>
</article>

<div class="share">
  <h4 class="share__title">Enjoy this post? Share it!</h4>
  <p>
    I love writing blog posts and creating new content.
    It would help me a lot you'd spare a moment to share them!
  </p>
  <div class="addthis_inline_share_toolbox"></div>
  <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-597a235ae1b10e2a"></script>
</div>

<div class="post__ending">

  {% if page.previous.url %}
    <div class="post-card">
      <a href="{{ page.previous.url | prepend: site.baseurl }}" class="post-card__content" title="Read {{ page.previous.title }}">
        <div class="post-card__meta">
          <div class="post-card__tag">
            <img src="{{ site.baseurl }}/images/tags/{% if page.previous.tag %}{{ page.previous.tag }}{% else %}tag{% endif %}.svg" alt="">
          </div>
          {{ page.previous.date | date: "%b %-d, %Y" }}
        </div>
        <h2 class="post-card__title">
          {{ page.previous.title }}
        </h2>
        <p>
          {{ page.previous.content | markdownify | strip_html | truncatewords: 15 }}
        </p>
      </a>
    </div>
  {% endif %}
  {% if page.next.url %}
    <div class="post-card">
      <a href="{{ page.next.url | prepend: site.baseurl }}" class="post-card__content" title="Read {{ page.next.title }}">
        <div class="post-card__meta">
          <div class="post-card__tag">
            <img src="{{ site.baseurl }}/images/tags/{% if page.next.tag %}{{ page.next.tag }}{% else %}tag{% endif %}.svg" alt="">
          </div>
          {{ page.next.date | date: "%b %-d, %Y" }}
        </div>
        <h2 class="post-card__title">
          {{ page.next.title }}
        </h2>
        <p>
          {{ page.next.content | markdownify | strip_html | truncatewords: 15 }}
        </p>
      </a>
    </div>
  {% endif %}
  </div>
</div>

{% if page.tag != 'pt-br' %}
<div class="disqus">
  <div id="disqus_thread"></div>
</div>
{% endif %}
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://loiane.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
