---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-header">
      <div class="post-header-container">
        <div class="post-header-detail">
          <div class="post-header-category">
              <img src="{{ site.baseurl }}/assets/images/tags/{% if page.tag %}{{ page.tag }}{% else %}tag{% endif %}.svg" alt="">
          </div>
          {{ page.date | date_to_string }}
        </div>
        <div class="post-header-detail">
            <div class="post-header-category">
                <i class="mdi mdi-clock mdi-24px"></i>
            </div>
            {% assign words = content | strip_html | number_of_words %}
            {% if words < 360 %}
              1 min read
            {% else %}
              {{ words | divided_by:200 }} mins read
            {% endif %}
          </div>
          {% if page.path %}
          <!--div class="post-header-detail">
              <div class="post-header-category">
                <i class="mdi mdi-github-circle mdi-24px"></i>
              </div>
              {% if page.path %}
              <a class="post-card-edit" href="//github.com/loiane/loiane.github.io/blob/master/{{ page.path }}" target="_blank" rel="noopener">
                Edit post
              </a>
              {% endif %}
          </div -->
          {% endif %}
      </div>
    </div>

  {{ content }}

  {% include components/share-addthis.html %}

  {% include components/related-posts.html %}

  {% include components/disqus.html %}
</div>
