.toc {
  background: $light-gray;
  padding: 15px 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  /*@media screen and (max-width: 600px) {
    margin-bottom: 15px;
  }
  p { margin: 0; }
  ul {
    padding: 0 15px;
    li {
      list-style: none;
      position: relative;
      padding: 4px 15px;
      &:before {
        position: absolute;
        top: 5px;
        left: -14px;
        content: '';
        background-size: contain;
        opacity: .3;
        width: 22px;
        height: 22px;
      }
    }
  }
  span {
    color: $headings-color;
    margin: 0 0 15px;
    display: block;
    font-size: 26px;
    // line-height: 30px;
  }
  a {
    color: $text-color;
    transition: all .2s ease;
    &:hover {
      color: $text-color;
    }
  }*/
}

.footer-outter {
  background: $light-gray;
}

.footer-container {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-card {
  float: left;
  text-align: left;
  width: 31.333333333%;
  margin: 0.75%;
  margin-bottom: 5px;
  position: relative;

  @media screen and (max-width: $on-desktop) {
    width: 48%;
  }
  @media screen and (max-width: $on-smartphone) {
    width: 95%;
  }

  h5 {
    font-size: 14px;
  }

  p {
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 12px;
  }

  a {
    color: lighten($text-color, 25%);
    transition: all .2s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}

.follow-me {
  position: absolute;
  bottom: 5px;
  left: 15px;

  @media screen and (max-width: $on-smartphone) {
    display: none;
  }
}
