.posts {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 1800px;
  margin-left: 1em;
  margin-top: 30px;
}

.post-card {
  float: left;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 23.33333%;
  margin: 0.75%;
  margin-bottom: 20px;
  position: relative;

  @media screen and (max-width: 1600px) {
    width: 31.333333333%;
  }

  @media screen and (max-width: $on-desktop) {
    width: 48%;
  }
  @media screen and (max-width: $on-smartphone) {
    width: 95%;
  }

  a {
    transition: all .2s ease;
    color: $headings-color;
    &:hover {
      //color: lighten($headings-color, 15%);
      color: $hue-2;
      text-decoration: none;
    }
  }

  &-title {
    font-size: 22px;
    padding: 10px;
    font-weight: 400;
    &:hover {
      //color: lighten($headings-color, 15%);
      color: $hue-2;
      text-decoration: none;
    }
  }

  &-img {
    height: 220px;
    width: 100%;
    margin: 0 !important;
    border-radius: 0;
  }

  &-desc{
    padding: 10px 10px 30px 10px;
    color: lighten($headings-color, 5%);
    font-weight: 400;
    &:hover {
     // color: lighten($headings-color, 15%);
      color: $hue-2;
      text-decoration: none;
    }
  }

  &-desc-empty{
    padding: 10px;
  }

  .post-card-cat {
    height: 40px;
    position: absolute;
    bottom: 3px;
    width: 100%;

    span {
      position: absolute;
      bottom: 7px;
      padding-left: 40px;
    }

    &-detail {
      font-size: 13px;
      height: 25px;
      width: 25px;
      position: absolute;
      top: 8px !important;
      left: 7px !important;
      justify-content: center;
      align-items: center;
    }
  }
}
